:root {
  --white-color: #fff;
  --text-color: #333;
  --black-color: #000;
  --border-color: #dbdbdb;
  --header--height: 70px;
}
.text-white {
  color: #fff !important;
}

* {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #081b29;
  color: #ededed;
}
/* Responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__col-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}
.padding {
  padding-bottom: 100px;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
.btn {
  min-width: 120px;
  height: 34px;
  background-color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 12px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}
